div{
    background: #ffffff;
    width: 960px;
    margin: auto;
    align-self: center;
}

.vl {
    color: grey;
    height: 5px;
    float: right;
  }

span{
    background-color: #4aaaa5;
    font-size: 28px;
    padding: 20px 10% 20px 10%;
}

header{
    color: #ffffff;
    background: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 28px;
    position: absolute;
    top: 0px;
    width: 960px;
    border-bottom: grey 0.25px solid;
}

h1{
    color: #4aaaa5;
    width: 100%;
}

body{
    background: url('../images/background.png');
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

img {
    margin: 20px;
}

footer{
    background: #666666;
    color: whitesmoke;
    text-align-last: center;
    padding: 10px 0px 0px 0px;
    font-size: 10px;
    border-top: #4aaaa5 5px solid;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

a {
    float: right;
    color: grey;
    text-decoration: none;
    font-size: 15px;
    background-color: #ffffff;
    padding: 20px 2% 20px 2%;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
